/* COLORS */
$main-body-color: #a7a7a7;
$main-bg-color: #fff;
$themecolor: #d5425a;
$green-color: #8fbc4e;
$orange-color: #e78637;

/* TYPOGRAPHY */
$main-body-font: 'Raleway', sans-serif;
$main-body-font-size: 14px;